body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;

  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/car 4.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* SECTION */
.contact-section {
  position: relative;
  height: 100vh;
}

/* FORM BOX (CENTER - DARK GLASS) */
.contact-form-box {
  width: 420px;
  padding: 35px;

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(10, 20, 40, 0.9);
  border-radius: 16px;

  border: 1px solid rgba(255, 215, 0, 0.3);

  box-shadow: 0 0 25px rgba(255, 215, 0, 0.25);

  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
  z-index: 10;
}

/* TITLE */
.contact-form-box h2 {
  margin-bottom: 20px;
  color: #ffd700;
  font-size: 28px;
}

/* LABELS */
.contact-form-box label {
  display: block;
  text-align: left;
  color: #ccc;
  font-size: 14px;
  margin-top: 10px;
}

/* INPUTS */
.contact-form-box input,
.contact-form-box textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;

  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #333;
  border-radius: 10px;

  color: white;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.contact-form-box input::placeholder,
.contact-form-box textarea::placeholder {
  color: #aaa;
}

.contact-form-box input:focus,
.contact-form-box textarea:focus {
  border-color: #ffd700;
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.5);
}

/* TEXTAREA */
.contact-form-box textarea {
  resize: none;
  height: 110px;
}

/* BUTTON */
.contact-form-box button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  background: linear-gradient(90deg, #ffd700, #ffb700);
  border: none;

  color: black;
  font-size: 16px;
  font-weight: bold;

  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form-box button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}

/* ALERTS */
.alert {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}

.error {
  background: rgba(255, 0, 0, 0.2);
  color: #ff4d4d;
}

.success {
  background: rgba(0, 255, 120, 0.2);
  color: #00ff88;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}