body {  margin: 0; font-family: Arial, sans-serif;
        background-image: url('../img/car 4.jpg'); 
        background-size: cover;        
        background-position: center;  
        background-repeat: no-repeat;  
        background-attachment: fixed;
        
     }

.main-header {
    /* background-color: #131314; */
    color: white;
    padding: 0.5rem 0;
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    background-color: rgba(0, 0, 0, 0.396) ;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo h1 a {
    color: white;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 40px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-size: 20px;
    
}

.navbar ul li a:hover {
    color: #e70909;
    text-decoration: underline;
    text-underline-offset: 6px;
    transition: 1s;
}
p {
    color: white;
    font-size: 50px;
    line-height: 1.6;
    margin-top: 270px;
     margin-left: 50px;
}
strong {
    color: #e70909;
}
.navbar ul li .blog {
    color: #e70909;
}
.btn {
    background-color: transparent;
    border: 2px solid #e70909;


    display: inline-block;
    padding: 15px 50px;
    
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-left: 50px;
}
.btn:hover {
    background-color: #e70909;
    color: white;
    transition: 1s;
}
.btn a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}