* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, #0a192f, #020c1b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #0f1e33;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.login-box h2 {
  color: #f1c40f;
  margin-bottom: 25px;
}

.input-box {
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #0a1628;
  color: white;
  outline: none;
}

.input-box input::placeholder {
  color: #aaa;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #f1c40f;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #d4ac0d;
}

.error {
  color: red;
  margin-bottom: 10px;
}
